{% extends 'base.html' %}
{% load i18n %}
{% load allauth account %}


{% block content %}


    <div class="heon-panel" style="padding-top:22px">
        <div class="heon-col m3 heon-hide-small"> </div>
        <div class="heon-col m6 s12">
            <div class="heon-container heon-grey" style="padding-bottom:16px">


                {% block auth %}
                {% endblock auth %}


            </div>
        </div>
        <div class="heon-col m3"> </div>
    </div>

{% endblock content %}

