{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="heon-row heon-page-row">
    <div class="heon-col m2 heon-hide-small">&nbsp;</div>
    <div class="heon-col m8 s12">
        <div class="heon-container heon-grey heon-page-panel">
            <div class="helden-heading heon-page-heading">
                <h2>{{ title }}</h2>
                <div class="helden-actions">
                    <button class="heon-button heon-blue" type="submit" form="character-form" title="{{ submit_label }}">
                        <span class="material-icons md-fw">save</span>
                    </button>
                    <a href="{% url 'helden' %}" class="heon-button heon-light-grey" title="Abbrechen">
                        <span class="material-icons md-fw">cancel</span>
                    </a>
                </div>
            </div>
            <div class="heon-container heon-white heon-padding">
                <form id="character-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="helden-form-section helden-character-layout">
                        <div class="helden-character-portrait-panel">
                            {{ form.portrait.errors }}
                            {{ form.portrait }}
                        </div>
                        <div class="helden-character-main">
                            <label class="heon-text" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                            {{ form.name.errors }}
                            {{ form.name }}

                            <div class="helden-character-basics helden-character-basics-form">
                                <div>
                                    <label class="heon-text" for="{{ form.species.id_for_label }}">{{ form.species.label }}</label>
                                    {{ form.species.errors }}
                                    {{ form.species }}
                                </div>
                                <div>
                                    <label class="heon-text" for="{{ form.culture.id_for_label }}">{{ form.culture.label }}</label>
                                    {{ form.culture.errors }}
                                    {{ form.culture }}
                                </div>
                                <div>
                                    <label class="heon-text" for="{{ form.profession.id_for_label }}">{{ form.profession.label }}</label>
                                    {{ form.profession.errors }}
                                    {{ form.profession }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="helden-form-attribute-grid">
                        <div class="helden-form-attribute">
                            <label class="heon-text" for="{{ form.courage.id_for_label }}">{{ form.courage.label }}</label>
                            {{ form.courage.errors }}
                            {{ form.courage }}
                        </div>
                        <div class="helden-form-attribute">
                            <label class="heon-text" for="{{ form.sagacity.id_for_label }}">{{ form.sagacity.label }}</label>
                            {{ form.sagacity.errors }}
                            {{ form.sagacity }}
                        </div>
                        <div class="helden-form-attribute">
                            <label class="heon-text" for="{{ form.intuition.id_for_label }}">{{ form.intuition.label }}</label>
                            {{ form.intuition.errors }}
                            {{ form.intuition }}
                        </div>
                        <div class="helden-form-attribute">
                            <label class="heon-text" for="{{ form.charisma.id_for_label }}">{{ form.charisma.label }}</label>
                            {{ form.charisma.errors }}
                            {{ form.charisma }}
                        </div>
                        <div class="helden-form-attribute">
                            <label class="heon-text" for="{{ form.dexterity.id_for_label }}">{{ form.dexterity.label }}</label>
                            {{ form.dexterity.errors }}
                            {{ form.dexterity }}
                        </div>
                        <div class="helden-form-attribute">
                            <label class="heon-text" for="{{ form.agility.id_for_label }}">{{ form.agility.label }}</label>
                            {{ form.agility.errors }}
                            {{ form.agility }}
                        </div>
                        <div class="helden-form-attribute">
                            <label class="heon-text" for="{{ form.constitution.id_for_label }}">{{ form.constitution.label }}</label>
                            {{ form.constitution.errors }}
                            {{ form.constitution }}
                        </div>
                        <div class="helden-form-attribute">
                            <label class="heon-text" for="{{ form.strength.id_for_label }}">{{ form.strength.label }}</label>
                            {{ form.strength.errors }}
                            {{ form.strength }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="heon-col m2">&nbsp;</div>
</div>
{% endblock content %}
