{% extends 'base.html' %}
{% load static %}

{% block title %}Gruppe verlassen{% endblock title %}

{% block content %}
<div class="heon-row heon-page-row">
    <div class="heon-col m3 heon-hide-small">&nbsp;</div>
    <div class="heon-col m6 s12">
        <div class="heon-container heon-grey heon-page-panel">
            <h2 class="heon-page-heading">Gruppe verlassen</h2>
            <div class="heon-container heon-white heon-padding">
                <p>Moechtest du <strong>{{ character.name }}</strong> wirklich aus <strong>{{ group.name }}</strong> entfernen?</p>
                <p>Der Gruppenersteller erhaelt danach eine Nachricht.</p>
                <form method="post">
                    {% csrf_token %}
                    <button class="heon-button heon-red" type="submit">
                        <span class="material-icons md-fw">logout</span> Gruppe verlassen
                    </button>
                    <a href="{% url 'helden' %}" class="heon-button heon-light-grey">Abbrechen</a>
                </form>
            </div>
        </div>
    </div>
    <div class="heon-col m3">&nbsp;</div>
</div>
{% endblock content %}
