{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="heon-row heon-page-row">
    <div class="heon-col m2 heon-hide-small">&nbsp;</div>
    <div class="heon-col m8 s12">
        <div class="heon-container heon-grey heon-page-panel">
            <h2 class="heon-page-heading">{{ title }}</h2>
            <div class="heon-container heon-white heon-padding">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <label class="heon-text" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    {{ form.name.errors }}
                    {{ form.name }}

                    <label class="heon-text" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                    {{ form.description.errors }}
                    {{ form.description }}

                    <label class="heon-text" for="{{ form.portrait.id_for_label }}">{{ form.portrait.label }}</label>
                    {{ form.portrait.errors }}
                    {{ form.portrait }}
                    <p class="heon-small heon-text-grey">Quadratisch, maximal 256 x 256 Pixel und 200 KB.</p>

                    <div class="gruppen-form-actions">
                        <button class="heon-button heon-blue" type="submit">{{ submit_label }}</button>
                        <a href="{% url 'gruppen' %}" class="heon-button heon-light-grey">Abbrechen</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="heon-col m2">&nbsp;</div>
</div>
{% endblock content %}
