{% extends 'base.html' %}
{% load static %}

{% block title %}Gruppen{% endblock title %}

{% block content %}

<div class="heon-row heon-page-row">
    <div class="heon-col m2 heon-hide-small">&nbsp;</div>
    <div class="heon-col m8 s12">
        <div class="heon-container heon-grey heon-page-panel">
            <div class="gruppen-heading heon-page-heading">
                <h2><span class="material-icons md-fw">family_restroom</span> Gruppen</h2>
                <a href="{% url 'gruppe_anlegen' %}" class="heon-button heon-orange">
                    <span class="material-icons md-fw">add</span> Gruppe anlegen
                </a>
            </div>
            <div class="heon-container heon-white heon-padding">
                {% if groups %}
                    <div class="gruppen-list">
                        {% for group in groups %}
                            <article class="gruppen-card">
                                <a class="gruppen-card-link" href="{% url 'gruppe_detail' group.owner_id group.name %}">
                                    <span>
                                        <strong>{{ group.name }}</strong>
                                        <small>{{ group.description|linebreaksbr }}</small>
                                    </span>
                                    <span class="gruppen-summary-meta">
                                        {{ group.participants.count }} von 8 Teilnehmern
                                    </span>
                                    <span class="gruppen-summary-meta">
                                        {% if group.pending_invitations %}
                                            {{ group.pending_invitations|length }} eingeladen
                                        {% else %}
                                            {{ group.available_invitation_count }} frei
                                        {% endif %}
                                    </span>
                                    <span class="material-icons md-fw">chevron_right</span>
                                </a>
                            </article>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="gruppen-empty">
                        <span class="material-icons md-fw heon-xxxlarge">group_add</span>
                        <p>Du hast noch keine Gruppen angelegt.</p>
                        <a href="{% url 'gruppe_anlegen' %}" class="heon-button heon-orange">Erste Gruppe anlegen</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="heon-col m2">&nbsp;</div>
</div>

{% endblock content %}
