{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="heon-row heon-page-row">
    <div class="heon-col m2 heon-hide-small">&nbsp;</div>
    <div class="heon-col m8 s12">
        <div class="heon-container heon-grey heon-page-panel">
            <div class="gruppen-heading heon-page-heading">
                <h2>{{ title }}</h2>
                <div class="gruppen-actions">
                    <button class="heon-button heon-blue" type="submit" form="group-form" title="{{ submit_label }}">
                        <span class="material-icons md-fw">save</span>
                    </button>
                    <a href="{% url 'gruppen' %}" class="heon-button heon-light-grey" title="Abbrechen">
                        <span class="material-icons md-fw">cancel</span>
                    </a>
                </div>
            </div>
            <div class="heon-container heon-white heon-padding">
                <form id="group-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <label class="heon-text" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    {{ form.name.errors }}
                    {{ form.name }}

                    <label class="heon-text" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                    {{ form.description.errors }}
                    {{ form.description }}

                    <label class="heon-text" for="{{ form.portrait.id_for_label }}">{{ form.portrait.label }}</label>
                    {{ form.portrait.errors }}
                    {{ form.portrait }}
                </form>
            </div>
        </div>
    </div>
    <div class="heon-col m2">&nbsp;</div>
</div>
{% endblock content %}
