{% extends 'base.html' %}
{% load static %}

{% block title %}Impressum{% endblock title %}

{% block content %}


<!-- Header -->
  <header class="heon-container heon-text-center" style="padding-top:22px">
    <h5><b><span class="material-icons md-fw">description</span> Impressum</b></h5>
  </header>


    <div class="heon-container heon-text-center">
        <p>Angaben gem. § 5 TMG:</p>
        <p>Sebastian Christoph<br/>c/o POSTFLEX PFX-796-792<br/>Emsdettener Straße 10<br/>48268 Greven</p>
        <hr/>
        <p>Kontaktaufnahme:</p>
        <p>mail@helden.online<br/><a href="{% url 'kontakt' %}">Kontaktformular</a></p>
    </div>
{% endblock content %}