{% extends 'base.html' %}
{% load static %}

{% block title %}Impressum{% endblock title %}

{% block content %}
<div class="heon-row heon-page-row">
    <div class="heon-col m3 heon-hide-small"> </div>
    <div class="heon-col m6 s12">
        <div class="heon-container heon-grey heon-page-panel">
            <h2>Impressum</h2>
            <div class="heon-container heon-white heon-padding">
                <div class="heon-text-center" style="padding-bottom:16px">
                    <span class="material-icons md-fw">privacy_tip</span>
                </div>
                <div class="heon-text-center">
        <p>Angaben gem. § 5 TMG:</p>
        <p>Sebastian Christoph<br/>c/o POSTFLEX PFX-796-792<br/>Emsdettener Straße 10<br/>48268 Greven</p>
        <hr/>
        <p>Kontaktaufnahme:</p>
        <p><a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a><br/><a href="{% url 'kontakt' %}">Kontaktformular</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="heon-col m3"> </div>
</div>
{% endblock content %}
