{% extends 'base.html' %}
{% load static %}

{% block title %}Impressum{% endblock title %}

{% block content %}


<!-- Header -->
  <header class="heon-container heon-text-center" style="padding-top:22px">
    <h5><b><i class="fa fa-section fa-fw"></i> Impressum</b></h5>
  </header>


    <div class="heon-container heon-text-center">
        <p>Angaben gem. § 5 TMG:</p>
        <p>Sebastian Christoph<br/>Artemisstr. 15<br/>13469 Berlin</p>
        <hr/>
        <p>Kontaktaufnahme:</p>
        <p>+49160/946 100 98<br/>admin@helden.online<br/><a href="{% url 'kontakt' %}">Kontaktformular</a></p>
    </div>
{% endblock content %}