{% extends 'base.html' %}
{% load static %}

{% block title %}Kontakt{% endblock title %}

{% block content %}
<div class="heon-row heon-page-row">
    <div class="heon-col m3 heon-hide-small">&nbsp;</div>
    <div class="heon-col m6 s12">
        <div class="heon-container heon-grey heon-page-panel">
            <h2>Kontakt</h2>
            <p>Schreiben Sie uns Ihre Nachricht. Wir melden uns so schnell wie moeglich zurueck.</p>
            <div class="heon-container heon-white heon-padding">
                <h3>Kontaktaufnahme</h3>
                {% if sent %}
                    <div class="heon-panel heon-green heon-margin-bottom">Ihre Nachricht wurde erfolgreich versendet.</div>
                {% elif mail_error %}
                    <div class="heon-panel heon-red heon-margin-bottom">Die Nachricht konnte nicht versendet werden. Bitte versuchen Sie es spaeter erneut.</div>
                {% elif form.errors %}
                    <div class="heon-panel heon-red heon-margin-bottom">Bitte ueberpruefen Sie Ihre Angaben und korrigieren Sie die markierten Felder.</div>
                {% endif %}
                <form method="post" class="heon-form">
                    {% csrf_token %}
                    <div style="position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;" aria-hidden="true">
                        {{ form.website }}
                    </div>
                    {% include 'includes/account_row.html' with id='id_name' label='Name' field=form.name error=form.name.errors %}
                    {% include 'includes/account_row.html' with id='id_email' label='E-Mail' field=form.email error=form.email.errors row_style='margin-top:12px' %}
                    {% include 'includes/account_row.html' with id='id_subject' label='Betreff' field=form.subject error=form.subject.errors row_style='margin-top:12px' %}
                    {% include 'includes/account_row.html' with id='id_message' label='Nachricht' field=form.message error=form.message.errors row_style='margin-top:12px' %}
                    <p>
                        <button type="submit" class="heon-button heon-dark-grey">Absenden</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div class="heon-col m3">&nbsp;</div>
</div>
{% endblock content %}
