{% load i18n %}
{% load allauth i18n %}
{% load static %}
{% load account %}

<!-- Sidebar/menu -->
<nav class="heon-sidebar heon-collapse heon-orange" style="z-index:3;width:300px;" id="heonMainSidebar"><br>

  {% if request.user.is_authenticated %}
  <div class="heon-container heon-row">
    <div class="heon-col s4">
      <img src="{% static 'images/heon_logo.png' %}" class="heon-margin-right" style="width:100%">
    </div>
    <div class="heon-col s8 heon-bar heon-center">
      <span class="heon-xlarge"><strong>{% user_display user %}</strong></span><br>
    </div>
    <div class="heon-col s8 heon-bar heon-center">
        <div class="heon-container">
            <div class="heon-row">
                <div class="heon-col s4"><a href="#" class="heon-bar-item heon-button" title="Meine Nachrichten"><span class="material-icons md-fw">mail</span></a></div>
                <div class="heon-col s4"><a href="{% url 'mein_account' %}" class="heon-bar-item heon-button" title="Mein Account"><span class="material-icons md-fw">person</span></a></div>
                {% url 'account_logout' as action_url %}
                {% element form method="post" action=action_url no_visible_fields=True %}
                    {% slot body %}
                        {% csrf_token %}
                        {{ redirect_field }}
                    {% endslot %}
                    {% slot actions %}
                        <div class="heon-col s4"><button class="heon-bar-item heon-button" type="submit" title="Abmelden"><span class="material-icons md-fw">logout</span></button></div>
                    {% endslot %}
                {% endelement %}
            </div>
        </div>
    </div>
  </div>
  <hr>
  {% endif %}


  <div class="heon-bar-block">
    <a href="#" class="heon-bar-item heon-button heon-padding-16 heon-hide-large heon-dark-grey heon-hover-black" onclick="w3_close()" title="close menu"><span class="material-icons md-fw">close</span>  Close Menu</a>
    <a href="{% url 'web' %}" class="heon-bar-item heon-button heon-padding {% if request.path == '/' %}heon-light-grey{% endif %}"><span class="material-icons md-fw">home</span>  Startseite</a>
    {% if request.user.is_authenticated %}
        <a href="#" class="heon-bar-item heon-button heon-padding"><span class="material-icons md-fw">visibility</span>  Views</a>
        <a href="#" class="heon-bar-item heon-button heon-padding"><span class="material-icons md-fw">groups</span>  Meine Gruppen</a>
        <a href="#" class="heon-bar-item heon-button heon-padding"><span class="material-icons md-fw">my_location</span>  Geo</a>
        <a href="#" class="heon-bar-item heon-button heon-padding"><span class="material-icons md-fw">notifications</span>  News</a>
        <a href="#" class="heon-bar-item heon-button heon-padding"><span class="material-icons md-fw">account_balance</span>  General</a>
    {% endif %}
    <hr>
    <a href="{% url 'kontakt' %}" class="heon-bar-item heon-button heon-padding"><span class="material-icons md-fw">mail</span>  Kontakt</a>
    <a href="{% url 'impressum' %}" class="heon-bar-item heon-button heon-padding"><span class="material-icons md-fw">description</span>  Impressum</a>
    <a href="{% url 'datenschutz' %}" class="heon-bar-item heon-button heon-padding"><span class="material-icons md-fw">shield</span>  Datenschutz</a><br><br>
    <a href="{% url 'example' %}" class="heon-bar-item heon-button heon-padding {% if request.path == '/example' %}heon-light-grey{% endif %}"><span class="material-icons md-fw">diamond</span>  Beispielseite</a>


    <!-- Footer -->
  <footer class="heon-container heon-padding-16 heon-dark-grey heon-hide-small heon-tiny">
    <p>Backend by <a href="https://www.djangoproject.com/" target="_blank" title="Django">Django</a> and <a href="https://www.python.org/" target="_blank" title="Python">Python</a></p>
    <p><p>Template by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" title="w3.css">w3.css</a></p></p>
    <p>Developed by Sebastian Christoph</p>
    <p>Version 1.0.0</p>
  </footer>
</nav>