{% extends 'authbox.html' %}
{% load i18n %}
{% load allauth account %}

{% block title %}
    {% trans "Sign In" %}
{% endblock title %}


{% block auth %}

    {% if not SOCIALACCOUNT_ONLY %}
        {% setvar link %}
            <a href="{{ signup_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}

        {% url 'account_login' as login_url %}
        {% element form form=form method="post" action=login_url tags="entrance,login" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
                <a href="{{ signup_url }}">Neuen Account einrichten</a>
                {% element button type="submit" tags="prominent,login" class="heon-button heon-dark-grey heon-right" %}
                    {% trans "Sign In" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}




    {% endif %}


{% endblock auth %}

